@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
    OperatorInfo operatorInfo = ViewBag.OperatorInfo;
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label ">角色名称<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="roleName" col="RoleName" type="text" class="form-control" />
            </div>
            @if (operatorInfo.HasManagerPower)
        {
            <label class="col-sm-2 control-label">角色类型</label>
            <div class="col-sm-4" id="roleType" col="RoleType"></div>
        }
        </div>
      

        <div class="form-group">
            <label class="col-sm-2 control-label ">显示顺序</label>
            <div class="col-sm-4">
                <input id="roleSort" col="RoleSort" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">状态</label>
            <div class="col-sm-4" id="roleStatus" col="RoleStatus">
            </div>
        </div>
     
        <div class="form-group">
            <label class="col-sm-2 control-label ">备注</label>
            <div class="col-sm-10">
                <input id="remark" col="Remark" type="text" class="form-control" style="height:60px;"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">菜单权限</label>
            <div class="col-sm-10">
                <div id="menuTree" class="ztree"></div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        $("#roleStatus").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())), default: '1' });
        
        $("#roleType").ysRadioBox({ data: ys.getJson([{ "Key": 6, "Value": "普通用户" }, { "Key": 20, "Value": "管理员" }]), default: '6' });

        loadMenuTree();

        getForm();

        $("#form").validate({
            rules: {
                roleName: { required: true }
            }
        });
    });

    function loadMenuTree() {
        $('#menuTree').ysTree({
            async: false,
            url: '@Url.Content("~/SystemManage/Role/GetMenuTreeListJson")',
            check: { enable: true },
            expandLevel: 0,
            maxHeight: '400px',
        })
    }

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/SystemManage/Role/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Status) {
                        $("#form").setWebControls(obj.Result);
                        $('#menuTree').ysTree("setCheckedNodes", obj.Result.MenuIds);
                    }
                }
            });
        }
        else {
            ys.ajax({
                url: '@Url.Content("~/SystemManage/Role/GetMaxSortJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Status) {
                        var defaultData = {};
                        defaultData.RoleSort = obj.Result;
                        defaultData.RoleStatus = "@StatusEnum.Yes.ParseToInt()";
                        $("#form").setWebControls(defaultData);
                    }
                }
            });
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.MenuIds = $('#menuTree').ysTree("getCheckedNodes");
            ys.ajax({
                url: '@Url.Content("~/SystemManage/Role/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Status) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>
